
.auth-form {
  width: 350px
}

.auth-form-container {
  justify-content: center;
  display: flex;
  align-items: center;
}

#app-container {
  height: 100%;
  padding-top: 56px;
  padding-left: 10px;
  padding-right: 10px;
}

html, body, #app, #app>div, body>#root, body>#root>#app-container {
  height: 100%
}

#login {
  height: 100%;
  display: flex;
  align-items: center;
}

#nav-bar {
  position: absolute;
  width: 100%;
}

.center-text {
  text-align: center;
}

.full-width {
  width: 100%
}



.full-height {
  height: 100%
}

.recipe-card {
  padding: 10px;
  
}

/* .hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11 figure:hover img {
	opacity: .5;
} */

.recipe-index-img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.recipe-index-img:hover {
  opacity: .5;
}

.recipe-index-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 4px;
}

.recipe-show-pic {
  height: 50%;
  margin-left: -8px;
  /* background-color: indigo; */
}


.recipe-info {
  height: 35%;
  /* background-color: lightblue; */
}

.recipe-ingredients {
  padding-top: 30px;
}

.ingredient-directions-row {
  height: 100%;
}

.recipe-directions {
  padding: 10px;
  padding-top: 32px;
}

.recipe-show-column {
  padding: 25px;
}

.meal-info-div {
  margin: 5px;
}

.post-comment-button {
  left: 45%;
  position: absolute;
}

.main-container {
  position: absolute;
  top: 40%;
}

.index-page-button-div {
  text-align: center;
}

