
.auth-form {
  width: 350px
}

.auth-form-container {
  justify-content: center;
  display: flex;
}

#app-container {
  height: 100%
}

html, body, #app, #app>div, body>#root, body>#root>#app-container {
  height: 100%
}

#login {
  height: 100%;
  display: flex;
  align-items: center;
}

#nav-bar {
  position: absolute;
  width: 100%;
}

.center-text {
  text-align: center;
}

.full-width {
  width: 100%
}